<h1>Dashboard#dashboard</h1>

<%# To see the lastest ad of stages %>
<div>
  <h1>Dernières annonces</h1>
  <ul>
    <li>Annonce 1</li>
    <li>Annonce 2</li>
  </ul>
</div>

<%# To see bests stages nearest to me %>
