
<div class="dashboard" data-controller="menu-header">
  <%= render('shared/header') %>
  <div class="dashboard-container">
  <%# To see the lastest ad of stages %>
    <div class="section-header">
      <h1>Dernières annonces</h1>
      <%= link_to 'Voir plus', ads_path(@stage), class: "btn primary", data: { action: 'click->tabs#load', tabs_target: 'link' } %>
    </div>
      <div class="scroll-container">
        <div class="scroll-content">
          <% @last_ads.each do |ad|  %>
            <%= render("shared/ad_card", ad: ad, profile: ad.class == ArtistAd ? ad.artist : ad.stage) %>
          <% end %>
        </div>
      </div>

    <%# To see bests stages nearest to me %>
    <div class="section-header">
      <h1>Les meilleures scènes</h1>
    </div>
      <div class="scroll-container">
        <div class="scroll-content">
          <% @best_stages.each do |stage|  %>
            <%= render("shared/artist_stage_card", artist_stage: stage, profile: stage) %>
          <% end %>
        </div>
    </div>
</div>
</div>
