<h1>Artist Ads</h1>

<% @artist_ads.each do |artist_ad| %>
  <div class="artist-ad">
    <p><%= artist_ad.content %></p>
    <% if artist_ad.photo.attached? %>
      <%= image_tag artist_ad.photo %>
    <% end %>
  </div>
<% end %>
