<h1>Stage Ads</h1>

<% @stage_ads.each do |stage_ad| %>
  <div class="stage-ad">
    <p><%= stage_ad.content %></p>
    <% if stage_ad.photo.attached? %>
      <%= image_tag stage_ad.photo %>
      dfd
    <% end %>

  </div>
<% end %>
