// Define variables for your color scheme

// For example:
$main-color-1: #A10DA4;
$main-color-2: #3C009D;
$main-theme: linear-gradient(45deg, $main-color-1, $main-color-2);
$white: #FFF;
$black: #000;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$top-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
$middle-shadow: 0 0 10px #00000030;
$bottom-shadow: 0 2px 10px #00000030;
