<div class="content" data-tabs-target="content">
<% @ads.each do |ad| %>
    <div class="card">
      <div class="card-body">
        <p><%= h(ad.content) %></p>
        <p><%= h(ad.address) %></p>
      </div>
    </div>
  <% end %>

</div>
