<h1>List artists</h1>
<div class="container-artists">
  <% @artists.each do |artist| %>
    <div class="card">
      <div class="card-body">
        <p><%= h(artist.name) %></p>
        <p><%= h(artist.address) %></p>
      </div>
    </div>
  <% end %>
</div>
