.new-ad {
  padding: 80px 10px 0 10px;
  &-container {
    max-width: 768px;
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
  .custom-file-input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #6e1066;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
  }
}
