<%= render("shared/main_page_header", title: "Mes conversations") %>
<div class="conversations">
  <div class="conversations-container">
    <% @conversations.each do |conversation| %>
      <%= render("shared/conversation_card", conversation: conversation) %>
    <% end %>
  </div>
</div>
