<div class="conversation">
  <div class="conversation-container">
    <div class="conversation-messages">
      <% @messages.each do  |message| %>
        <%= render "conversations/message_bubble", message: message %>
      <% end %>
    </div>
    <%= simple_form_for [@conversation, @message] do |f| %>
      <%= f.input(:content, input_html: { class: 'input-message' }) %>
      <%= f.submit("Envoyer", class: "btn primary btn-form", turbo_method: "post") %>
    <% end %>
  </div>
</div>
