<h1>Conversations#show</h1>
<p>Find me in app/views/conversations/show.html.erb</p>
<ul>
  <% @messages.each do  |message| %>
    <li><%= message.content %></li>
  <% end %>
</ul>
<%= simple_form_for [@conversation, @message] do |f| %>
  <%= f.input(:content) %>
  <%= f.submit(turbo_method: "post") %>
<% end %>
