<div class="conversation-card">
  <div class="conversation-card-container">
    <div class="avatar"></div>
    <div class="conversation-card-details">
      <h3>La Petite Cuite</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="conversation-card-data">
      <p>00:43</p>
    </div>
  </div>
</div>
