<div class="secondary-nav">
  <div class="secondary-nav-container">
    <%= link_to("ACTUALITES", "", class: "active") %>
    <%= link_to("PHOTOS", "") %>
    <%= link_to("PLANNNING", "") %>
    <%= link_to("A PROPOS", "") %>
    <div class="active-marker"></div>
  </div>
</div>
