<div class="home">
  <div class="home-container">
    <%= image_tag("allstage_360.png", class: "logo-icon") %>
    <div class="greatting">
      <h1>Bienvenue sur</h1>
      <%= image_tag("OnStage.png") %>
    </div>
    <p>Scènes, offrez aux Artistes débutants la scène locale qu'ils méritent.</p>
    <p>Artistes, exprimez votre Art. Trouvez la scène Locale qui vous révèle.</p>
    <%= link_to("Commencer l'aventure", dashboard_path, class:"btn primary") %>
  </div>
</div>
