<div class="home">
  <div class="home-container">
    <%= image_tag("allstage_360.png", class: "logo-icon") %>
    <div class="greatting">
      <h1>Bienvenu sur</h1>
      <%= image_tag("OnStage.png") %>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam exercitationem nobis quae itaque? Animi doloribus consequatur vitae? Maiores temporibus sit quibusdam dolorem aliquam fuga nisi optio quia? Voluptates, velit omnis!</p>
    <%= link_to("Commencer l'aventure", dashboard_path, class:"btn primary") %>
  </div>
</div>
