<div class="content" data-tabs-target="content">

  <% @stage_ads.each do |ad| %>
    <div class="card">
      <div class="card-body">
        <%= ad.content %>
      </div>
    </div>
  <% end %>

</div>
