PHOTO PARTIAL
<div class="content" data-tabs-target="content">

  <div class="card">
    <% @stage.photos.each do |photo| %>
      <%= cl_image_tag(image.key, class: "photos") %>
    <% end %>
  </div>

</div>
