<h1>List stages</h1>
<div class="container-artists">
  <% @stages.each do |stage| %>
    <div class="card">
      <div class="card-body">
        <p><%= h(stage.name) %></p>
        <p><%= h(stage.address) %></p>
      </div>
    </div>
  <% end %>
</div>
