.btn{
  min-width: 100px;
  border-radius: 5px;
  border-image-source: $main-theme;
  &.large{
    width: 100%;
  }
  &.primary{
    background: $main-theme;
    color: $white;
  }
  &.secondary{
    background: $white;
    border: 2px solid $main-color-2;
    background: $main-theme;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
  }
  &-form{
    height: 50px;
  }
}
