header{
  z-index: 1000;
  &.home-header{
    position: fixed;
  top: 0;
  width: 100%;
  background: $white;
  box-shadow: 0 2px 4px #00000030;
  padding: 10px;
  .home-header-container{
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .home-header-left-side{
      img{
        height: 30px;
      }
    }
    .home-header-right-side{
      width: fit-content;
      display: flex;
      align-content: center;
      gap: 15px;
      .home-header-search-btn{
        padding: 10px;
        position: relative;
        svg{
          height: 20px;
          width: auto;
        }
        a{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      .avatar{
        width: 40px;
        height: 40px;
        object-fit: cover;
        background: gray;
      }
    }
    .home-header-menu{
      min-width: 150px;
      position: absolute;
      background: $white;
      padding: 10px;
      display: none;
      font-size: 15px;
      border-radius: 10px;
      box-shadow: $middle-shadow;
      transform: translateX(-100%);
      left: 100%;
      top: calc(100%);
      &.active{
        display: flex;
      }
    .home-header-menu-container{
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;
      a{
        text-decoration: none;
        color: $black;
        &.logout-link{
          i{
            color: #F00;
          }
        }
      }
    }
      i.x-mark{
        position: absolute;
        top: 0;
        left: calc(100% + 10px  );
        transform: translate(-50%, -50%);
        padding: 5px;
        background: red;
        color: $white;
        border-radius: 2px;
      }
    }
  }
  }
  &.page-header{
    position: absolute;
    width: 100%;
    padding: 10px;
    background: $white;
    box-shadow: $middle-shadow;
    .page-header-container{
      max-width: 768px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .page-header-left-side{
        display: flex;
        align-items: center;
        gap: 10px;
        svg{
          height: 30px;
          width: auto;
        }
        h1{
          font-size: 22px;
          margin: 0;
        }
      }
      .page-header-right-side{
        .avatar{
          background: gray;
        }
      }
    }
  }
}
